html {
    background-color: black; 
}

body {
    width: 485px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    text-align: center;
}

header {
    background-color: white;
}


nav {
    background-color: black;
    padding-top: 10px;
}

nav li {
    display: inline-flex;
    text-transform: uppercase;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
}

a {
    text-decoration: none;
    color: white;
}


#white {
    background-color: white;
}

#about h2 {
    padding-top: 15px;
}

[href="#top"] {
    position: fixed;
    bottom: 0px;
    right: 0px;
    border: 4px solid white;
    padding: 15px;
}

#forms {
    color: white;
    width: 420px;
    margin: 0 auto;
    text-transform: uppercase;
}

#lower {
    text-transform: none;
}

#about p, #gallery p {
    text-align: left;
    padding-left: 10px;
}

figure {
    margin: 0;
    padding-bottom: 15px;
}

.image {
    position: relative;
}

#iran, #ireland {
    top: 4%;
}

.topBlack {
    text-transform: uppercase;
    position: absolute;
    top: 8%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
}

.botBlack {
    text-transform: uppercase;
    position: absolute;
    bottom: 3%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.topWhite {
    text-transform: uppercase;
    position: absolute;
    top: 8%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.botWhite{
    text-transform: uppercase;
    position: absolute;
    bottom: 7%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

#button {
    padding-left: 90px;
    padding-right: 90px;
    padding-top: 8px;
    padding-bottom: 8px;
    color: white;
    background-color:#007d7b;
    border-radius: 15px;
    margin-top: 20px;
    text-transform: uppercase;
    margin-bottom: 40px;
    font-weight: bold;
}

#forms input {
    width: 420px;
    color:#007d7b;
    text-transform: uppercase;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 25px;
}

input::placeholder {
    color: #007d7b;
}

input[type="text"] {
    text-indent: 8px;
}

#forms label {
    float: left;
    margin-left: 12px;
}

footer {
    color: white;
    text-transform: uppercase;
    margin-top: 40px;
}

p {
    font-size: 1.25em;
}

figcaption, label, input, small {
    font-size: 1em;
}

nav a {
    font-size: 1.5em;
}

h1 {
    font-size: 3em;
    text-transform: uppercase;
    color: #007d7b;
    margin: 0;
}

h2 {
    font-size: 2em;
    text-transform: uppercase;
}

@media screen and (min-width:880px) {
    body {
        width: 880px;
    }

    h1 {
        text-align: left;
        margin-left: 10px;
    }

    #photos {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #hawaii {
        bottom: 370px;
    }

    #button{
        padding-left: 200px;
        padding-right: 200px;
    }
    
    #forms {
        width: 710px;
    }

    #forms input {
        width: 710px;
    }
}

@media screen and (min-width:1300px) {
    body {
        width: 1300px;
    }

    nav {
        text-align: right;
    }

    #photos {
        grid-template-columns: 1fr 1fr 1fr;
    }

    #hawaii {
        bottom: 20px;
    }

    #button{
        padding-left: 290px;
        padding-right: 290px;
    }
    
    #forms {
        width: 1050px;
    }

    #forms input {
        width: 1050px;
    }
}
